<div *ngIf="video">
    <h2>{{video.url}} Details</h2>
    <div><span>id: </span>{{video.id}}</div>
    <div>
      <label>url:
        <input [(ngModel)]="video.url" placeholder="url"/>
      </label>
    </div>
    <iframe *ngIf="video.safeUrl" width="560" height="315" [src]='video.safeUrl' frameborder="0" allowfullscreen></iframe>
</div>
