<h2>My bookmarks</h2>

<h4 *ngIf="bookmarks.length === 0">No bookmarks yet!</h4>
<ul class="videos">
  <li *ngFor="let bookmark of bookmarks">
    <a routerLink="/detail/{{bookmark.id}}">
      <span class="badge">{{bookmark.id}}</span> {{bookmark.url}}
    </a>
    <button class="delete" title="delete bookmark" (click)="delete(bookmark)">x</button>
  </li>
</ul>