<h2>My history</h2>

<div>
    <label>Video Url:
      <input #videoUrl />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(videoUrl.value); videoUrl.value=''">
      add
    </button>
</div>

<ul class="videos">
  <li *ngFor="let video of videos">
    <a routerLink="/detail/{{video.id}}">
      <span class="badge">{{video.id}}</span> {{video.url}}
    </a>
    <button class="delete" title="delete video" (click)="delete(video)">x</button>
    <button class="add" title="add bookmark" (click)="addBookmark(video)">B</button>
  </li>
</ul>

<app-bookmark></app-bookmark>
